{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>📦 {{ page_title }}</h1>
    
    <table>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Категория</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.0 }}</td>
            <td>{{ product.1 }}</td>
            <td>{{ product.2 }}</td>
            <td>{{ product.3 }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}