{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>👥 {{ page_title }}</h1>

    <h3>👥 Сотрудники склада (данные из TXT):</h3>
    <table>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Опыт работы</th>
        </tr>
        {% for worker in workers_list %}
        <tr>
            <td>{{ worker.0 }}</td>
            <td>{{ worker.1 }}</td>
            <td>{{ worker.2 }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>📊 Статистика работы (данные из CSV):</h3>
    <table>
        <tr>
            <th>Кладовщик</th>
            <th>Перемещено товаров</th>
        </tr>
        {% for worker, quantity in worker_stats.items %}
        <tr>
            <td>{{ worker }}</td>
            <td>{{ quantity }} шт.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}